# EditorConfig is awesome: http://EditorConfig.org

# top-most root editorconfig file
root = true

# defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_size = 4
indent_style = space
tab_width = 8

# Man pages
# Project policy: follow Linux kernel formatting.
# ref:  https://lkml.org/lkml/2020/7/3/163
#       https://github.com/vivien/vim-linux-coding-style/blob/master/plugin/linuxsty.vim
[*.{1,2,3,4,5,6,7,8}]
indent_style = space
indent_size = 2

# Assembly
[*.{asm,ASM,ASM.txt,d80,inc,INC,INC.txt,lst,LST,LST.txt,mac,MAC,MAC.txt,nasm,NASM,NASM.txt,s,S}]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

# bat scripts
[*.bat]
end_of_line = crlf

# Bazel
# ref:  https://docs.bazel.build/versions/2.0.0/skylark/build-style.html
[*.{bazel,bzl}]
indent_size = 4
indent_style = space
max_line_length = 79

# Linux kernel 2-space files
# Project policy: follow Linux kernel formatting.
# ref:  https://lkml.org/lkml/2020/7/3/163
#       https://github.com/vivien/vim-linux-coding-style/blob/master/plugin/linuxsty.vim
[*.{bconf,clang-format,cocci,svg,xsl}]
indent_style = space
indent_size = 2

# C
# ref:  https://www.kernel.org/doc/html/v4.10/process/coding-style.html
#       https://lkml.org/lkml/2020/7/3/163
#       https://github.com/torvalds/linux/blob/master/.clang-format
# Project policy: follow Linux kernel formatting.
#       Not used: https://www.gnu.org/prep/standards/standards.html
[*.{c,h}]
charset = utf-8
end_of_line = lf
indent_size = 8
indent_style = tab
insert_final_newline = true
max_line_length = 80
tab_width = 8
trim_trailing_whitespace = true

# C++
# General refs: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#               https://firefox-source-docs.mozilla.org/code-quality/coding-style/coding_style_cpp.html
#               https://google.github.io/styleguide/cppguide.html#Formatting
# Project policy: follow Linux kernel formatting instead.
# ref:  https://github.com/torvalds/linux/blob/master/.clang-format
[*.{cpp,cc,cxx,hh,hpp,hxx}]
charset = utf-8
end_of_line = lf
indent_size = 8
indent_style = tab
max_line_length = 80
tab_width = 8
trim_trailing_whitespace = true

# Kernel configs and device tree files
# Project policy: follow Linux kernel formatting.
# ref:  https://lkml.org/lkml/2020/7/3/163
#       https://github.com/vivien/vim-linux-coding-style/blob/master/plugin/linuxsty.vim
[{*.dts,*.dtsi,Kconfig}]
indent_style = tab
indent_size = 8
tab_width = 8

# Emacs Lisp
# General refs: https://github.com/bbatsov/emacs-lisp-style-guide#source-code-layout--organization
#               https://www.gnu.org/software/emacs/manual/html_node/elisp/Tips.html#Tips
# Project policy: combine Org mode's GNU conventions with Magit's native,
# form-aware Lisp indentation.
# ref:  https://orgmode.org/worg/org-contribute.html#coding-conventions
#       https://cgit.git.savannah.nongnu.org/cgit/org-mode.git/tree/.dir-locals.el
#       https://github.com/magit/magit/blob/main/.dir-locals.el
[*.el]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 70
trim_trailing_whitespace = true

# Fish
# Project policy: follow Fish's fish_indent formatter.
# ref:  https://fishshell.com/docs/current/cmds/fish_indent.html
[*.{fish,fish.example}]
indent_size = 4
indent_style = space

# Go
# ref:  https://golang.org/doc/effective_go.html#formatting
[{*.go,go.mod}]
indent_size = 4
indent_style = tab
tab_width = 4

# GraphQL
# ref:  https://graphql.org/learn/
[*.graphql]
indent_size = 2
indent_style = space

# HTML, CSS, XML
# ref:  https://google.github.io/styleguide/htmlcssguide.html
#       https://cssguidelin.es/#syntax-and-formatting
#       https://jonasbn.github.io/til/editorconfig/xml.html
[*.{html,css,htm,xml,xsd}]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Java
# ref:  https://google.github.io/styleguide/javaguide.html#s4-formatting
[*.java]
indent_size = 2
indent_style = space
max_line_length = 100

# JavaScript, JSON, JSX, JavaScript Modules, TypeScript
# ref:  https://firefox-source-docs.mozilla.org/code-quality/coding-style/coding_style_js.html
#       https://github.com/feross/standard
#       python -m json.tool uses 4 spaces
# Project policy: follow Ghostty's default Prettier formatting instead.
[*.{js,cjs,json,jsx,mjs,ts,tsx}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Kotlin
# ref:  https://developer.android.com/kotlin/style-guide
[*.{kt,kts}]
charset = utf-8
indent_size = 4
indent_style = space
max_line_length = 100

# LESS
# ref:  https://github.com/less/less-docs#less-standards
[*.less]
indent_size = 2
indent_style = space

# Common Lisp and Clojure
# ref:  https://google.github.io/styleguide/lispguide.xml#Formatting
#       https://github.com/bbatsov/clojure-style-guide
[*.{lisp,cl,clj,cljs,edn,fasl,l,lsp}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Lua
# ref:  http://lua-users.org/wiki/LuaStyleGuide
#       https://github.com/johnnymorganz/stylua
#       https://github.com/neovim/neovim/pull/14987
#       https://github.com/neovim/neovim/blob/master/.stylua.toml
# Project policy: follow Neovim's StyLua configuration.
[*.lua]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
max_line_length = 100

# Objective-C
# ref:  https://google.github.io/styleguide/objcguide.html
[*.{m,mm}]
indent_size = 2
indent_style = space
max_line_length = 100

# Markdown
# ref:  https://github.com/github/markup/blob/master/lib/github/markup/markdown.rb#L32
#       https://spec.commonmark.org/0.28/#tabs
# Project policy: follow Ghostty's default Prettier formatting.
[*.{md,litcoffee,markdown,mdown,mkd,mkdn,mdwn}]
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Makefiles
# ref:  https://www.gnu.org/prep/standards/html_node/Makefile-Basics.html#Makefile-Basics
[{*.mk,*.mak,[Mm]akefile,depend}]
indent_style = tab
indent_size = 8

# Org
# Project policy: combine Org mode's no-tabs, 70-column editing settings with
# Magit's source-block indentation policy.
# ref:  https://cgit.git.savannah.nongnu.org/cgit/org-mode.git/tree/.dir-locals.el
#       https://github.com/magit/magit/blob/main/docs/Makefile
[*.org]
indent_style = space
max_line_length = 70

# PHP
# ref:  https://www.php-fig.org/psr/psr-2/
[*.php]
indent_size = 4
indent_style = space
max_line_length = 80

# Perl
# ref:  https://jonasbn.github.io/til/editorconfig/perl.html
#       https://perldoc.perl.org/perlstyle.html
#       http://perltidy.sourceforge.net/stylekey.html
[*.{pl,PL,pm,t}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# Python
# ref:  https://www.python.org/dev/peps/pep-0008/
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 79

# R
# ref:  https://google.github.io/styleguide/Rguide.html
#       http://adv-r.had.co.nz/Style.html
[*.{r,R}]
indent_style = space
indent_size = 2
max_line_length = 80

# Ruby
# ref:  https://github.com/ruby/ruby/blob/master/.editorconfig
#       http://www.caliban.org/ruby/rubyguide.shtml#indentation
[{*.rb,*.gemspec,Fastfile,Matchfile,Podfile}]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Rust
# ref:  https://github.com/rust-dev-tools/fmt-rfcs/blob/master/guide/guide.md
[*.rs]
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# reStructuredText
# https://docutils.sourceforge.io/rst.html
# ref:  https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/GeneralConventions/CodingGuidelines.html
[{*.rst,*.rst.txt}]
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

# SASS
# ref:  https://sass-guidelin.es/#syntax--formatting
[*.{sass,scss}]
indent_size = 2
indent_style = space
max_line_length = 80
trim_trailing_whitespace = true

# Shell
# ref:  https://google.github.io/styleguide/shellguide.html#s5-formatting
# Project policy: follow Ghostty's two-space shell override.
[*.{sh,bash,zsh}]
indent_size = 2
indent_style = space
max_line_length = 80

# Svelte
# ref:  https://github.com/sveltejs/svelte/blob/master/.editorconfig
[*.svelte]
charset = utf-8
end_of_line = lf
indent_size = 2
tab_width = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# Swift
# General ref: https://google.github.io/swift/
# Project policy: follow Ghostty's four-space Swift override instead.
# ref:  https://github.com/ghostty-org/ghostty/blob/main/.editorconfig
[*.swift]
indent_size = 4
indent_style = space
max_line_length = 100
trim_trailing_whitespace = true

# Linux kernel 4-space files
# Project policy: follow Linux kernel formatting.
# ref:  https://lkml.org/lkml/2020/7/3/163
#       https://github.com/vivien/vim-linux-coding-style/blob/master/plugin/linuxsty.vim
[*.{tc}]
indent_style = space
indent_size = 4

# TOML
# ref:  https://toml.io/en/v1.0.0-rc.2
[*.toml]
charset = utf-8
indent_size = 2
indent_style = space

# Vimscript
# General ref: https://google.github.io/styleguide/vimscriptguide.xml#Style
# Project policy: follow Neovim's two-space Vimscript defaults instead.
# ref:  https://github.com/neovim/neovim/blob/master/.editorconfig
[*.vim]
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

# YAML
# ref:  https://yaml.org/spec/1.2/spec.html#Syntax
[*.{yaml,yml}]
charset = utf-8
indent_size = 2
indent_style = space

# Zig
# ref:  https://github.com/neovim/neovim/blob/master/.editorconfig
[*.zig]
indent_size = 4
indent_style = space

# Vim configuration filenames
# General ref: https://google.github.io/styleguide/vimscriptguide.xml#Style
# Project policy: follow Neovim's two-space Vimscript defaults instead.
# ref:  https://github.com/neovim/neovim/blob/master/.editorconfig
[{.vimrc,vimrc,vimrc.*}]
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

# Perf script wrappers
# Project policy: follow Linux kernel formatting.
# ref:  https://lkml.org/lkml/2020/7/3/163
#       https://github.com/vivien/vim-linux-coding-style/blob/master/plugin/linuxsty.vim
[tools/perf/scripts/*/bin/*]
indent_style = space
indent_size = 4
